.box{width: 980px;border: 1px solid #ddd;min-height: 890px;background-color: #fff;margin: 3% auto 0;border-radius: 4px;}
.title{height: 50px;padding-left: 30px;border-bottom: 1px solid #ddd;}
.title-icon{float: left;width: 4px;height: 16px;margin-top: 18px;background-color: #00a7de;border-radius: 4px;}
.title span{font-size: 12px;margin: 15px 0 0 15px;cursor: pointer;float: left;color: #00a7de;}

.admin-page{padding: 20px 20px 20px 0;}

/*搜索框*/
.search_stu{width: 250px;height: 32px;position: relative;left: 50px;top: 10px;}
.search-box{background-color: hsla(0,0%,100%,.88);display: block;height: 32px;border-radius: 4px;}
.search-input{float: left;width: 250px;color: #222;font-size: 12px;line-height: 32px;padding: 0 12px;border: 1px solid #00a7de;box-shadow: 0 1px 2px rgba(0,0,0,.1);border-radius: 4px;box-sizing: border-box;}
.search-btn{width: 25px;height: 25px;line-height: 32px;cursor: pointer;background-color: red;position: absolute;background: url("../images/search.png")no-repeat;background-color: #fff;right: 3px;top: 3px}
.search-btn:hover{background: url("../images/search-1.png")no-repeat;}

.under-line{width: 80%;margin: 0 auto;border-bottom: 1px solid #ddd;margin-top: 20px;margin-bottom: 40px;}

.report-list,.stu-list{margin-top: 20px;}

.report-list-title,.stu-list-title{border-bottom: 1px solid #e7e7e7;text-align: center;background-color: #fff;width: 100%;margin: 0 auto;}

.title-item{width: 71px;text-align: center;min-width: 56px;margin: 0 35px;line-height: 48px;height: 48px;display: inline-block;font-size: 14px;}

.project-list,.stu-info-list{max-height: 580px;overflow: hidden;}
.stu-info-list:hover{overflow: auto;}
.project-info,.stu-info{margin-top: 10px;padding-left: 45px;cursor: pointer;}
.project-info:hover{background-color: #e7e7e7;}
.project-info div{width: 71px;text-align: center;min-width: 56px;margin: 0 35px;line-height: 48px;height: 48px;display: inline-block;font-size: 14px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;vertical-align: bottom;}
.stu-info div{width: 71px;text-align: center;min-width: 56px;margin: 0 35px;line-height: 48px;height: 48px;display: inline-block;font-size: 14px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;vertical-align: bottom;}
.stu-info:hover{background-color: #e7e7e7;}

/*定义滚动条*/
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 6px;
    background-color: #edf2f9;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #6d757a;
}