html,body{height: 100%}
*{padding: 0;margin: 0;}
ul{list-style: none;}
.relative{position: relative;}
.fr{float: right;}
.fl{float: left}
li{display: list-item;}
a{text-decoration: none;}
/*清除浮动*/
.f-clear{clear: both;overflow: hidden;}
.clear-fix:after{content: "";display: block;visibility: hidden;height: 0;clear: both;font-size: 0;}