.box{width: 980px;border: 1px solid #ddd;min-height: 890px;background-color: #fff;margin: 3% auto 0;border-radius: 4px;}
.title{height: 50px;padding-left: 30px;border-bottom: 1px solid #ddd;}
.title-icon{float: left;width: 4px;height: 16px;margin-top: 18px;background-color: #00a7de;border-radius: 4px;}
.title span{font-size: 12px;margin: 15px 0 0 15px;cursor: pointer;float: left;color: #00a7de;}

.report-info{padding: 20px 20px 0 20px}

.info-user{float: left;width: 780px;margin-bottom: 22px}
.info-item{width: 90px;text-align: right;margin-right: 20px;float: left;line-height: 30px;vertical-align: middle;font-size: 16px;color: #48575a;}
.info-user-detail{line-height: 30px;font-size: 16px;position: relative;color: #898989;vertical-align: middle;}
.info-item-pro_description{display: table;}


.under-line{width: 80%;margin: 0 auto;border-bottom: 1px solid #ddd;margin-top: 20px;margin-bottom: 40px;}

.btn-warp{width: 400px;height: 36px;margin: 0 auto;}
.btn{display: inline-block;line-height: 1;cursor: pointer;border: 1px solid #c4c4c4;margin: 0;padding: 10px 15px;border-radius: 4px;box-sizing: border-box;width: 110px;font-size: 14px;margin-right: 20px;color: #222;}
.btn:hover{background-color: #00a7de;border-color: #00a7de;color: #fff;}
